:root {
  --basic-bg-color: #EEEEEE;
  --accent1-color: #FB565A;
  --accent1-hover-color: #E74246;
  --accent1-active-color: #D7373B;
  --accent2-color: #00CA74;
  --accent2-hover-color: #00BC6C;
  --accent2-active-color: #00AA62;
  --accent3-color: #EFC849;
  --accent3-hover-color: #EAB534;
  --accent3-active-color: #E5A722;
  --text-color: #283136;
  --text-bold-color: #000;
  --text-button-color: #fff;
  --text-button-active-color: rgba(255, 255, 255, 0.3);
  --text-opacity-color: rgba(0, 0, 0, 0.3);
  --text-less-opacity-color: rgba(0, 0, 0, 0.6);
  --text-contacts-color: #666;
  --social-text-color: #444;
  --social-gradient1-color: #E1E1E1;
  --social-gradient2-color: #fff;
  --shadow-color: rgba(0, 1, 1, 0.1);
  --button-submit-hover-bg-color: #DFDFDF;
  --button-submit-active-bg-color: #D5D5D5;
  --button-submit-current-bg-color: rgba(0, 0, 0, 0.0001);
  --button-submit-border-color: #DBDBDB;
  --slider-controls-color: #C1C1C1;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.page {
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  position: relative;
  width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}

/* button */

.button {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-button-color);
  font-weight: 500;
  line-height: 18px;
  border: none;
  padding: 17px 0 15px;
  border-radius: 3px;
  display: block;
  text-align: center;
}

.button:active {
  color: var(--text-button-active-color);
  box-shadow: inset 0px 3px 0px var(--shadow-color);
}

.button-accent-1 {
  background-color: var(--accent1-color);
}

.button-accent-1:hover {
  background-color: var(--accent1-hover-color);
}

.button-accent-1:active {
  background-color: var(--accent1-active-color);
}

.button-accent-2 {
  background-color: var(--accent2-color);
}

.button-accent-2:hover {
  background-color: var(--accent2-hover-color);
}

.button-accent-2:active {
  background-color: var(--accent2-active-color);
}

.button-accent-3 {
  background-color: var(--accent3-color);
}

.button-accent-3:hover {
  background-color: var(--accent3-hover-color);
}

.button-accent-3:active {
  background-color: var(--accent3-active-color);
}

.button-submit {
  background-color: var(--basic-bg-color);
  color: var(--text-bold-color);
}

.button-submit:hover {
  background-color: var(--button-submit-hover-bg-color);
}

.button-submit:active {
  background-color: var(--button-submit-active-bg-color);
  color: var(--text-opacity-color);
}

.button-submit-current {
  background-color: var(--button-submit-current-bg-color);
  border: 3px solid var(--button-submit-border-color);
  border-radius: 3px;
  color: var(--text-bold-color);
  font-weight: 500;
  line-height: 18px;
}

/* header */

.header {
  background-color: var(--basic-bg-color);
  padding-bottom: 80px;
  margin-bottom: 78px;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
}

.header-logo:hover {
  opacity: 0.7;
}

.header-logo:active {
  opacity: 0.3;
}

.header-nav {
  justify-self: center;
  padding-top: 27px;
}

.header-nav-container {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-column-gap: 45px;
}

.header-nav-container li {
  display: block;
}

.header-user-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  justify-self: flex-end;
  padding-top: 27px;
}

.header-nav-link {
  display: flex;
  align-items: center;
  line-height: 30px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-bold-color);
}

.header-icon {
  margin-right: 25px;
}

.header-nav-link:hover {
  color: var(--accent1-color);
}

.header-nav-link:not([href]) {
  border-bottom: 2px solid var(--accent1-color);
}

.header-nav-link:active {
  color: var(--text-opacity-color);
}

/* slider */

.slider {
  padding-top: 18px;
}

.slider-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-controls {
  position: absolute;
  bottom: 16px;
  right: 50%;
  transform: translateX(50%);
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.slider-controls button {
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  border: none;
  background-color: var(--text-button-color);
  border-radius: 50%;
  margin-right: 17px;
  cursor: pointer;
}

.slider-controls button:last-child {
  margin-right: 0;
}

.slider-controls-current::after {
  content: "";
  position: absolute;
  background-color: var(--text-button-color);
  width: 8px;
  height: 8px;
  border: 2px solid var(--slider-controls-color);
  border-radius: 50%;
  top: 5px;
  left: 5px;
}

.slider-button {
  width: 240px;
}

.slider-item {
  position: relative;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-img {
  position: absolute;
  top: -80px;
  right: 3px;
}

.slider-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--text-bold-color);
  margin-bottom: 26px;
}

.slider-text {
  margin-bottom: 38px;
}

/* services */

.services {
  margin-bottom: 30px;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--basic-bg-color);
}

.services-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 2px;
  color: var(--text-bold-color);
  text-transform: uppercase;
}

.services-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  grid-column-gap: 40px;
}

.services-item {
  display: grid;
  flex-direction: column;
}

.services-text {
  margin-bottom: 31px;
}

.services-img {
  order: -1;
}

.services-button {
  width: 160px;
}

/* about */

.about {
  margin-bottom: 49px;
}

.about-wrapper {
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-column-gap: 80px;
}

.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--text-bold-color);
  margin-bottom: 32px;
}

.about-list {
  margin-left: 36px;
  padding: 0;
  list-style: none;
}

.about-list li {
  position: relative;
  margin-bottom: 24px;
}

.about-list li::before {
  position: absolute;
  content: "";
  background-color: var(--accent1-color);
  width: 25px;
  height: 2px;
  top: 11px;
  left: -36px;
}

.about-item img {
  margin-top: 10px;
  margin-bottom: 13px;
}

.about-text {
  margin-bottom: 40px;
}

.about-subtitle {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.about-numbers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-numbers-title {
  font-weight: 700;
  color: var(--text-bold-color);
  text-transform: uppercase;
  margin-left: 17px;
  margin-bottom: -14px;
}

.about-numbers {
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
  color: var(--text-bold-color);
  grid-area: number;
  margin-bottom: -5px;
}

.about-percent {
  font-size: 26px;
  line-height: 40px;
}

.about-numbers-text {
  font-size: 16px;
  line-height: 18px;
  grid-area: def;
}

/* clients */

.clients {
  border-top: 2px solid var(--basic-bg-color);
  border-bottom: 2px solid var(--basic-bg-color);
  margin-bottom: 80px;
}

.clients-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}


.client-item {
  position: relative;
  height: 180px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.client-item::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  right: -50px;
  bottom: 50%;
  transform: translateY(50%);
  background-color: var(--basic-bg-color);
}

.client-item:last-child:after {
  content: none;
}

.client-logo {
  opacity: 0.2;
}

.client-logo:hover {
  opacity: 1;
}

.client-logo:active {
  opacity: 0.3;
}

/* contacts */

.contacts {
  margin-bottom: 68px;
}

.contacts-card {
  position: absolute;
  background-color: var(--text-button-color);
  width: 319px;
  height: 308px;
  padding: 30px 50px 0px;
  top: 54px;
}

.contacts-map {
  display: block;
  margin: 0 auto;
}

.contacts-title {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 30px;
  color: var(--text-bold-color);
  margin-bottom: 24px;
}

.contacts-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--text-contacts-color);
  margin-bottom: 37px;
}

.contacts-phone {
  text-decoration: none;
  color: inherit;
}

.contacts-button {
  border: none;
  width: 219px;
}

/* social */

.social {
  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-column-gap: 20px;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.social-icon {
  background: linear-gradient(0deg, var(--social-gradient1-color), var(--social-gradient1-color)), var(--social-gradient2-color);
  width: 81px;
  height: 81px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.social-item {
  margin-right: 9px;
}

.social-item:last-child {
  margin-right: 0px;
}

.social-icon:hover {
  background: linear-gradient(0deg, var(--accent1-hover-color), var(--accent1-hover-color)), var(--social-gradient2-color);
}

.social-icon:active {
  background: linear-gradient(0deg, var(--accent1-active-color), var(--accent1-active-color)), var(--social-gradient2-color);
  box-shadow: inset 0px 3px 0px var(--shadow-color);
}

.social-icon:active img {
  opacity: 0.5;
}

.social-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--text-bold-color);
  margin-top: 6px;
  margin-bottom: -4px;
}

.social-text {
  color: var(--social-text-color);
  font-size: 16px;
  line-height: 22px;
}

/* shop */

.shop-wrapper {
  display: grid;
  grid-template-columns: 4fr 8fr;
}

.shop-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--text-bold-color);
  text-align: center;
}

.shop-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-bold-color);
  text-transform: uppercase;
}

.shop-list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 42px;
  grid-row-gap: 30px;
}

.filter-grid, .filter-range, .filter-features {
  border: none;
}

.filter-range-field {
  background-color: var(--basic-bg-color);
  border: none;
}

.filter-range-field::placeholder {
  color: var(--text-color);
}

.filter-range {
  line-height: 22px;
  text-transform: uppercase;
}

.filter-grid-list {
  list-style: none;
  line-height: 20px;
}

.filter-features-list {
  list-style: none;
  line-height: 20px;
}

.shop-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 42px;
}

.shop-sort-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.shop-sort-item {
  margin-right: 26px;
}

.shop-sort-item:last-child {
  margin-right: 0;
}

.shop-sort-link {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-opacity-color);
}

.shop-sort-link:hover {
  color: var(--text-less-opacity-color);
}

.shop-sort-link:not([href]), .shop-sort-link:active {
  color: var(--text-bold-color);
}

.shop-list {
  list-style: none;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item:last-child {
  margin-right: 0;
}
