:root {
  --basic-bg-color: #EEEEEE;
  --accent1-color: #FB565A;
  --accent1-hover-color: #E74246;
  --accent1-active-color: #D7373B;
  --accent2-color: #00CA74;
  --accent2-hover-color: #00BC6C;
  --accent2-active-color: #00AA62;
  --accent3-color: #EFC849;
  --accent3-hover-color: #EAB534;
  --accent3-active-color: #E5A722;
  --text-color: #283136;
  --text-bold-color: #000;
  --text-button-color: #fff;
  --text-button-active-color: rgba(255, 255, 255, 0.3);
  --text-opacity-color: rgba(0, 0, 0, 0.3);
  --text-less-opacity-color: rgba(0, 0, 0, 0.6);
  --text-contacts-color: #666;
  --social-text-color: #444;
  --social-gradient1-color: #E1E1E1;
  --social-gradient2-color: #fff;
  --shadow-color: rgba(0, 1, 1, 0.1);
  --button-submit-hover-bg-color: #DFDFDF;
  --button-submit-active-bg-color: #D5D5D5;
  --button-submit-current-bg-color: rgba(0, 0, 0, 0.0001);
  --button-submit-border-color: #DBDBDB;
}

.page {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}

/* button */

.button {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-button-color);
  font-weight: 500;
  line-height: 18px;
  border: none;
}

.button:active {
  color: var(--text-button-active-color);
  box-shadow: inset 0px 3px 0px var(--shadow-color);
}

.button-accent-1 {
  background-color: var(--accent1-color);
}

.button-accent-1:hover {
  background-color: var(--accent1-hover-color);
}

.button-accent-1:active {
  background-color: var(--accent1-active-color);
}

.button-accent-2 {
  background-color: var(--accent2-color);
}

.button-accent-2:hover {
  background-color: var(--accent2-hover-color);
}

.button-accent-2:active {
  background-color: var(--accent2-active-color);
}

.button-accent-3 {
  background-color: var(--accent3-color);
}

.button-accent-3:hover {
  background-color: var(--accent3-hover-color);
}

.button-accent-3:active {
  background-color: var(--accent3-active-color);
}

.button-submit {
  background-color: var(--basic-bg-color);
  color: var(--text-bold-color);
}

.button-submit:hover {
  background-color: var(--button-submit-hover-bg-color);
}

.button-submit:active {
  background-color: var(--button-submit-active-bg-color);
  color: var(--text-opacity-color);
}

.button-submit-current {
  background-color: var(--button-submit-current-bg-color);
  border: 3px solid var(--button-submit-border-color);
  border-radius: 3px;
  color: var(--text-bold-color);
  font-weight: 500;
  line-height: 18px;
}

/* header */

.header {
  background-color: var(--basic-bg-color);
}

.header-container {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
}

.header-logo:hover {
  opacity: 0.7;
}

.header-logo:active {
  opacity: 0.3;
}

.header-nav {
  justify-self: center;
}

.header-nav-container {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav-link {
  line-height: 30px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-bold-color);
}

.header-nav-link:hover {
  color: var(--accent1-color);
}

.header-nav-link:not([href]) {
  border-bottom: 2px solid var(--accent1-color);
}

.header-nav-link:active {
  color: var(--text-opacity-color);
}

/* slider */

.slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  position: relative;
  height: 431px;
}

.slider-img {
  position: absolute;
  top: 0;
  right: 0;
}

.slider-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--text-bold-color);
}

/* services */

.services-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--text-bold-color);
  text-transform: uppercase;
}

.services-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  grid-column-gap: 100px;
}

/* about */

.about-wrapper {
  display: grid;
  grid-template-columns: 8fr 4fr;
}

.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--text-bold-color);
}

.about-list {
  list-style: none;
}

.about-subtitle {
  font-weight: 700;
  text-transform: uppercase;
}

.about-numbers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-numbers-title {
  font-weight: 700;
  color: var(--text-bold-color);
  text-transform: uppercase;
}

.about-numbers {
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
  color: var(--text-bold-color);
  grid-area: number;
}

.about-percent {
  font-size: 26px;
  line-height: 40px;
}

.about-numbers-text {
  font-size: 16px;
  line-height: 18px;
  grid-area: def;
}

/* clients */

.clients-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.client-logo {
  opacity: 0.2;
}

.client-logo:hover {
  opacity: 1;
}

.client-logo:active {
  opacity: 0.3;
}

/* contacts */

.contacts-card {
  position: absolute;
  background-color: var(--text-button-color);
}

.contacts-map {
  display: block;
  margin: 0 auto;
}

.contacts-title {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 30px;
  color: var(--text-bold-color);
}

.contacts-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--text-contacts-color);
}

.contacts-phone {
  text-decoration: none;
  color: inherit;
}

.contacts-button {
  border: none;
}

/* social */

.social {
  display: grid;
  grid-template-columns: 4fr 8fr;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icon {
  background: linear-gradient(0deg, var(--social-gradient1-color), var(--social-gradient1-color)), var(--social-gradient2-color);
}

.social-icon:hover {
  background: linear-gradient(0deg, var(--accent1-hover-color), var(--accent1-hover-color)), var(--social-gradient2-color);
}

.social-icon:active {
  background: linear-gradient(0deg, var(--accent1-active-color), var(--accent1-active-color)), var(--social-gradient2-color);
  box-shadow: inset 0px 3px 0px var(--shadow-color);
}

.social-icon:active img {
  opacity: 0.5;
}

.social-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--text-bold-color);
}

.social-text {
  color: var(--social-text-color);
  font-size: 16px;
  line-height: 22px;
}

/* shop */

.shop-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--text-bold-color);
}

.shop-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-bold-color);
  text-transform: uppercase;
}

.filter-grid, .filter-range, .filter-features {
  border: none;
}

.filter-range-field {
  background-color: var(--basic-bg-color);
  border: none;
}

.filter-range-field::placeholder {
  color: var(--text-color);
}

.filter-range {
  line-height: 22px;
  text-transform: uppercase;
}

.filter-grid-list {
  list-style: none;
  line-height: 20px;
}

.filter-features-list {
  list-style: none;
  line-height: 20px;
}

.shop-sort-list {
  list-style: none;
}

.shop-sort-link {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-opacity-color);
}

.shop-sort-link:hover {
  color: var(--text-less-opacity-color);
}

.shop-sort-link:not([href]), .shop-sort-link:active {
  color: var(--text-bold-color);
}

.shop-list {
  list-style: none;
}

.pagination-list {
  list-style: none;
}
